
<div class="main-container">
  <header class="fixed-header"></header>
<img src="m28.jpg" alt="" class="background-image" />
        
      <div class="overlay"></div>
   
  <!-- Message d'accueil -->
  
    <img src="logo-evote.png" alt="Logo" class="logo">
    <h2 class="wel">Bienvenue!<br>{{ utilisateur.nom }}</h2>
   
    <h4 class="subtitle">Un électeur éclairé choisit pour l’intérêt commun, pas personnel</h4>
  
    <h3 class="we">Mali,terre de richesse et de culture</h3>
    <!-- Notification -->
<!-- Icône de notification -->
<!-- Icône cloche -->


<!-- Modale -->
<button (click)="openModal()" class="icon-bloc"></button>

<div *ngIf="showModal" class="modal">
  <div class="modal-content">
    <h2>Bonjour {{ utilisateur.nom }} 👋</h2>
    <p>Votre vote a été enregistré avec succès ✅</p>
        <p>Merci pour votre participation! </p>
    <button (click)="closeModal()">Fermer</button>
  </div>
</div>
<div class="icon-blo" (click)="openModal()">
  <span class="material-icons icon-notification">notifications</span>
</div>
 <p class="heure">🕒 Heure locale : {{ heureLocale }}</p> 

<main class="scrollable-content">
  
    <!-- Slogan -->
  <h2 class="slogan">Voter est un droit et un devoir,votre voix compte</h2>



  <!-- Statistiques -->
  <h3 class="section-title">Statistiques</h3>


<!-- Bloc principal blanc -->
  <div class="rectangle-17"> 
    <!-- Fondation -->
<div class="icon-block">
  <span class="material-icons icon-foundation">groups</span>
  <div class="info-text">{{ votersCount }} votes</div>
</div>

<!-- 3P -->


<!-- Statistiques -->
<div class="icon-block">
  <span class="material-icons icon-stats">bar_chart</span>
  <div class="info-texte">{{ votePercentage }}% de <br> participation</div>
</div>
 </div>

<p class="mali">
   Mali ,pays des vaillants guerriers et défenseur d'afrique ,
 terre d'humanité et d'hospitalité,terre riche en histoire ,
 pays de soundiata Keita, de Soumanourou Kante ,D'ElHadj Oumar Tall,
 de Kankou Moussa et bien d'autres braves Hommes .
</p>

<div class="carousel">
  <div class="carousel-track">
    <img src="imgm.jpg" alt="Image 1" class="I1 carousel-img"  />
    <img src="m26.jpg" alt="Image 2" class="I2 carousel-img" />
    <img src="img7.jpg" alt="Image 3" class="I3 carousel-img" />
    <img src="imgi.jpg" alt="Image 4"  class="I4 carousel-img" />
    <img src="samori.jpg" alt="Image 5" class="I5 carousel-img" />
    <img src="img5.jpg" alt="Image 6" class="I6 carousel-img"/>
  </div>
</div>


<div class="case-proverbe">
  <h3 class="prov">🕊️Proverbe du Jour 🇲🇱</h3>
  <p class="texte-fr">{{ proverbeDuMoment.texteFr }}</p>
  <p class="texte-bm"><em>{{ proverbeDuMoment.texteBm }}</em></p>
</div>


<div class="saviez-vous" [class.clicked]="isClicked" (click)="goToFaitsMali()">
  <mat-icon class="info-icon">emoji_objects</mat-icon>
  <span>Le saviez-vous ?</span>
</div>

<!-- Ajoutez ce bouton dans votre navigation -->
<button (click)="allerVersPerso()" class="btn-perso">
  <mat-icon>person</mat-icon>
  Mon Profil
</button>
<button class="voter-btn" (click)="allerVersVote()">Je veux voter</button>


  
 
</main>
 </div>
    
   


  



