<div class="perso-page">
  
  <!-- Image de fond -->
  <img src="assets/m30.jpg" alt="Image de fond" class="background-image" />
  <div class="overlay"></div>

  <!-- Logo -->
  <img src="assets/logo-evote.png" alt="Logo E-Vote Mali" class="logo" />
  

  <h2 class="perso-title">Mon Profil</h2>
<h2 class="salutation">{{ salutation }}</h2>

  
  <!-- Photo de profil -->
  <div class="avatar">
    <img *ngIf="utilisateur.photoProfil" [src]="utilisateur.photoProfil" alt="Photo de profil" class="image-profil" />
    <span *ngIf="!utilisateur.photoProfil" class="material-icons">account_circle</span>
  </div>
 


  <!-- Nom complet -->
  <h3 class="username">{{ utilisateur.prenom }} {{ utilisateur.nom }}</h3>

  <!-- Détails utilisateur -->
  <div class="user-details">
    <p>Nom :</p> <div class="champs nom">{{ utilisateur.nom }}</div>
    <p>Prénom :</p> <div class="champs prenom">{{ utilisateur.prenom }}</div>
    <p>Numéro Nina :</p> <div class="champs numero">{{ utilisateur.nina }}</div>
    <p>E-mail :</p> <div class="champs email">{{ utilisateur.email.replace('@', '&#64;') }}</div>
    <p>Téléphone :</p> <div class="champs tele">{{ utilisateur.telephone }}</div>
  </div>


  <!-- Carte d’identité -->


</div>
