
<div class="page-conseils">
    <div class="blur-box"></div>
     
    <img src="assets/m25.jpg" alt="" class="background-image">
   
    <div class="ecriture">
        <img src="assets/logo-evote.png" alt="Logo" class="logo">
    <h1 class="titre">Condition d’utilisation !</h1>
    <p class="intro">Pour pouvoir voter , il faut :</p>
    <p class="liste-conditions">
        - Être inscrit sur la liste électorale nationale<br>
        - Un seul vote par électeur<br>
        - Vérification de l’électeur<br>
        - Le vote est confidentiel et définitif<br>
        - Être de nationalité Malienne<br>
        - Avoir au moins 18 ans<br>
        - Toute tentative de fraude entraînera l’annulation du vote.
    </p>

    <p class="slogan">Ensemble , rendons le Mali meilleur</p>
    
</div>

</div>


