<main class="faits">
  <header class="fixed-header"></header>
    <img src="m15.jpg" alt="" class="background-image"/>
    

    <div class="ecrit">

    <h2>Faits fascinants sur le Mali 🇲🇱</h2>
     </div>
    <main class="scrollable-content">
    
    

  Le fleuve Niger traverse le pays sur plus de 1 700 km.
  Les manuscrits de Tombouctou contiennent des savoirs anciens en astronomie, médecine et droit.
  Le balafon est un instrument traditionnel classé au patrimoine immatériel de l’UNESCO.
  65 % du territoire est désertique : Le Mali est l’un des pays les plus arides du monde, <br>
   mais il abrite aussi des zones fertiles au sud grâce aux fleuves Niger et Sénégal
  Le mont Hombori Tondo est le point culminant du Mali, avec ses 1 155 mètres. <br>
  Il est entouré de légendes et de biodiversité unique
  Mansa Moussa, empereur du Mali au XIVe siècle, est considéré comme <br>
 l’homme le plus riche de tous les temps. Lors de son pèlerinage à La Mecque, <br>
  il a distribué tellement d’or qu’il a provoqué une inflation au Caire
  Tombouctou, surnommée “la perle du désert”, était un centre mondial de savoir au Moyen Âge.<br>
   Elle abritait des milliers de manuscrits et attirait des savants de toute l’Afrique
  Le sel valait autant que l’or : À une époque, une livre de sel pouvait s’échanger contre une livre d’or. <br>
  Les caravanes de sel traversaient le Sahara jusqu’à Tombouctou
  La Grande Mosquée de Djenné est la plus grande structure en argile du monde.<br>
     Elle est reconstruite chaque année par toute la communauté dans une fête collective


  </main>
</main>
       
   