<nav *ngIf="afficherNavbar">
  <!-- Ton contenu navbar ici -->
<nav class="bottom-nav">
  

    <div class="u1">
    <a routerLink="/perso" routerLinkActive="active" class="material-icons" aria-label="profil">person</a>
  </div>
  <div class="u2">
    <a routerLink="/principale" routerLinkActive="active" class="material-icons" aria-label="principale">home</a>
  </div>
  <div class="u3">
    <a routerLink="/vote" routerLinkActive="active" class="material-icons" aria-label="voter">how_to_vote</a>
  </div>
  <div class="u4">
    <a routerLink="/conseils" routerLinkActive="active" class="material-icons" aria-label="conseils">lightbulb</a>
  </div>

</nav>
</nav>


