.section-wisdom {
  margin: 1.5rem auto;
  width: 250px;
  height: 50px;
  padding: 1rem;
  background-color: #fff8dc;
  border-left: 6px solid #d4af37;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  font-family: 'Segoe UI', sans-serif;
  margin-top: -450px;
}